/* 
Settings 
*/
/* 
Tools
*/
/* 
Generic 
*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html,
form,
input,
textarea,
select,
option,
button {
  font-family: "Avenir", Avenir, sans-serif;
  font-size: 16px;
  line-height: 1.4em; }
  @media screen and (min-width: 56.25em) {
    html,
    form,
    input,
    textarea,
    select,
    option,
    button {
      font-size: 20px; } }
  @media screen and (min-width: 93.75em) {
    html,
    form,
    input,
    textarea,
    select,
    option,
    button {
      font-size: 24px; } }

button,
input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  cursor: pointer; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

/* 
Base 
*/
@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Book.eot");
  src: local("Avenir Book"), local("Avenir-Book"), url("Avenir-Book.eot?#iefix") format("embedded-opentype"), url("Avenir-Book.woff") format("woff"), url("Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("Avenir-Heavy.eot");
  src: local("Avenir Heavy"), local("Avenir-Heavy"), url("Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("Avenir-Heavy.woff") format("woff"), url("Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("Avenir-HeavyOblique.eot");
  src: local("Avenir Heavy Oblique"), local("Avenir-HeavyOblique"), url("Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("Avenir-HeavyOblique.woff") format("woff"), url("Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Avenir';
  src: url("Avenir-BookOblique.eot");
  src: local("Avenir Book Oblique"), local("Avenir-BookOblique"), url("Avenir-BookOblique.eot?#iefix") format("embedded-opentype"), url("Avenir-BookOblique.woff") format("woff"), url("Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

html {
  font-family: "Avenir", Avenir, sans-serif;
  text-align: center;
  font-weight: normal; }

body {
  margin-top: 0;
  background: #fff; }

main > section {
  padding: 3.125rem 0; }

h1 {
  text-align: center; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1.25em;
  line-height: 1.6em; }

ul {
  list-style-type: none; }

p {
  font-size: 1rem;
  line-height: 1.5em; }

p > ul {
  list-style-type: circle; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

input,
textarea,
select,
option,
button,
input[type="submit"],
.button {
  border: none; }

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: .5em 1em;
  outline: none;
  border: 2px solid white; }

input[type="radio"],
input[type="checkbox"] {
  width: auto; }

button,
input[type="submit"],
.button {
  font-family: "Avenir", Avenir, sans-serif;
  padding: .5em 1em; }
  button:disabled,
  input[type="submit"]:disabled,
  .button:disabled {
    opacity: .5;
    cursor: default; }

/* 
Objects
*/
.container {
  width: 80%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }
  .container--lg {
    width: 85%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto; }
  @media screen and (min-width: 37.5em) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 56.25em) {
    .container {
      width: 70%; } }
  @media screen and (min-width: 75em) {
    .container {
      width: 60%; } }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

@media screen and (min-width: 56.25em) {
  .row > .column {
    float: left; }
    .row > .column.full {
      width: 100%; }
    .row > .column.two-thirds {
      width: 66.7%; }
    .row > .column.half {
      width: 50%; }
    .row > .column.third {
      width: 33.3%; }
    .row > .column.fourth {
      width: 25%; }
  .row.-reverse > .column {
    float: right; } }

/* 
Components
*/
.video {
  display: none; }
  .video__container {
    display: none; }
  @media screen and (min-width: 56.25em) {
    .video {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }
  @media screen and (min-width: 56.25em) and (min-aspect-ratio: 1920 / 800) {
    .video {
      height: 300%;
      top: -100%; } }
  @media screen and (min-width: 56.25em) and (max-aspect-ratio: 1920 / 800) {
    .video {
      width: 300%;
      left: -100%; } }
  @media screen and (min-width: 56.25em) {
      .video__container {
        display: block;
        z-index: -10;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden; } }

.banner {
  padding: 3.125rem 0;
  position: relative;
  background: url(../assets/img/banner-mobile.jpg) center;
  background-size: cover;
  color: #D7D6D2;
  overflow: hidden; }
  @media screen and (min-width: 56.25em) {
    .banner {
      background-image: none;
      background-color: rgba(34, 49, 52, 0.85); } }
  .banner > * {
    z-index: 1; }

.btn {
  border-radius: .1em;
  padding: 1em;
  border: 0.15em solid #fff;
  font-weight: 500; }
  .btn--primary {
    display: block;
    width: 90%;
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 3.125rem;
    text-align: center;
    font-size: 1.25em;
    border: none;
    background: #A0DBE3;
    color: #1D7589;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    transition: .3s ease;
    transition-property: color, box-shadow, background-color; }
    .btn--primary:hover {
      background: #F58263;
      color: #8E241E;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); }
  .btn--secondary {
    margin-top: 1.5625rem;
    width: 75%;
    max-width: 32rem;
    border-color: #F58263; }
  .btn--login {
    position: absolute;
    top: -.2em;
    left: 50%;
    transform: translateX(-50%);
    opacity: .8;
    padding: .5em .75em;
    font-size: .75em;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: .3em; }
    @media screen and (min-width: 37.5em) {
      .btn--login {
        left: auto;
        right: -.2em;
        transform: none; } }

.logo {
  margin-top: 1.5625rem; }
  .logo__img {
    width: 90%;
    min-width: 16rem;
    max-width: 32rem; }
  @media screen and (min-width: 37.5em) {
    .logo {
      margin-top: 0; } }

.list {
  max-width: 25rem; }
  .list__item {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center; }
    .list__item > .fa {
      color: #F26436;
      margin-right: 1rem; }
    .list__item:last-child {
      margin-bottom: 0; }
    .list__item:last-child::after {
      display: none; }
  .list--featured {
    text-align: left;
    margin: 0 auto;
    margin-top: 3.125rem;
    font-size: 1.1em;
    width: 78%; }
  .list--horizontal {
    margin-top: 1.5625rem; }
    .list--horizontal > li {
      display: inline-block;
      margin-top: 0; }
  .list__icon {
    color: #fff;
    font-size: 2rem;
    margin-right: 1.5em; }
    .list__icon:last-child {
      margin-right: 0; }

#amenities {
  background: #fff; }
  #amenities .heading {
    color: #EE4324; }
  #amenities .subheading {
    color: #8AA2A4; }

.heading {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: bold; }
  .heading--small {
    font-size: 1.25rem; }

.subheading {
  line-height: 1.5em;
  margin-top: .5em; }

.amenity-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3.125rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.amenity {
  max-width: 95%;
  width: 30rem;
  height: 14rem;
  border-radius: .15em;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: .3s ease;
  transition-property: box-shadow, transform;
  background-position: center;
  background-size: cover;
  margin: .5rem;
  display: flex;
  overflow: hidden; }
  @media screen and (min-width: 37.5em) {
    .amenity {
      transform: scale(0.99);
      width: 20rem;
      max-width: 47%; }
      .amenity:hover {
        transform: scale(1);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); }
        .amenity:hover .amenity__overlay {
          background: rgba(29, 117, 137, 0.8); }
        .amenity:hover .amenity__info {
          max-height: 250px;
          opacity: 1; } }
  @media screen and (min-width: 75em) {
    .amenity {
      height: 16em; } }
  .amenity__title {
    z-index: 1;
    line-height: 1.2em; }
  .amenity__info {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    transition: .5s ease;
    transition-property: max-height, opacity;
    opacity: 0;
    margin-top: .5em; }
  .amenity__overlay {
    background: rgba(29, 117, 137, 0.5);
    transition: background .3s ease;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .amenity--small {
    height: auto;
    font-size: .9rem;
    padding: .5em;
    background: rgba(29, 117, 137, 0.8);
    cursor: default;
    text-shadow: none;
    justify-content: center; }
    .amenity--small:hover {
      transform: scale(0.99);
      box-shadow: none; }
  .amenity--expanded {
    transform: scale(1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); }
    .amenity--expanded .amenity__overlay {
      background: rgba(29, 117, 137, 0.8); }
    .amenity--expanded .amenity__info {
      max-height: 250px;
      opacity: 1; }

#realtalk {
  background: #EE4324;
  color: #fff;
  text-align: center; }

.quote-list {
  position: relative;
  margin-bottom: 1.5625rem; }

.quote-nav {
  position: absolute;
  top: 2.5em;
  width: 100%; }
  .quote-nav__left {
    position: absolute;
    left: 6%; }
  .quote-nav__right {
    position: absolute;
    right: 6%; }

.quote {
  width: 100%;
  max-width: 22rem;
  margin: 0 auto; }
  @media screen and (min-width: 37.5em) {
    .quote {
      opacity: .2;
      transform: scale(0.8);
      transition: .8s ease;
      transition-property: opacity, transform; } }
  .quote__byline {
    font-weight: normal;
    line-height: 1.5em;
    margin-top: 1em; }
    .quote__byline--company {
      display: block;
      opacity: .6;
      font-size: .75em;
      line-height: 1.5em; }
  .quote__quote {
    line-height: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 1.5625rem 0;
    background: url(../assets/img/quotes.svg) center no-repeat;
    background-size: contain; }
  .quote.is-selected {
    opacity: 1;
    transform: scale(1); }

.flickity-page-dots {
  bottom: -2.5rem; }
  .flickity-page-dots .dot {
    background: #fff; }

.flickity-prev-next-button {
  width: 30px;
  height: 100%;
  background-color: none; }
  .flickity-prev-next-button.previous {
    background: url(../assets/img/arrow-left.svg) no-repeat center center; }
  .flickity-prev-next-button.next {
    background: url(../assets/img/arrow-right.svg) no-repeat center center; }
  .flickity-prev-next-button .arrow, .flickity-prev-next-button.no-svg {
    display: none; }
  @media screen and (min-width: 37.5em) {
    .flickity-prev-next-button {
      width: 200px; } }

.avatar {
  position: relative;
  max-width: 7em;
  margin: 0 auto;
  margin-top: 1.5625rem; }
  .avatar__person, .avatar__company {
    border: 0.25em solid #F58263;
    border-radius: 100%;
    overflow: hidden; }
  .avatar__person {
    width: 100%; }
  .avatar__company {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 75%; }

#memberships {
  background: #D7D6D2; }
  #memberships .heading {
    color: #473E3D; }
  #memberships .subheading {
    color: #9A918C; }

.card-list {
  width: 90%;
  max-width: 48rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

.card {
  width: 95%;
  max-width: 20rem;
  margin: 0 auto 1rem;
  border-radius: .15em;
  background: #fff;
  text-align: left;
  transition: .3s ease;
  transition-property: box-shadow, transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }
  @media screen and (min-width: 37.5em) {
    .card {
      width: auto;
      margin: .5rem;
      transform: scale(0.99); }
      .card:hover {
        transform: scale(1);
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15); }
      .card__header {
        text-align: center;
        font-size: 1.1em; } }
  .card--active {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15); }
  .card__header, .card__body {
    padding: 1.25rem; }
  .card__header {
    position: relative; }
  .card__icon {
    max-width: 2.5rem;
    max-height: 1.5rem;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem; }
    @media screen and (min-width: 37.5em) {
      .card__icon {
        position: static;
        max-width: 5rem;
        max-height: 3rem;
        margin-bottom: .5em; } }
  .card__title {
    color: #EE4324;
    font-size: 1.25em;
    font-weight: 800; }
  .card__subtitle {
    color: #473E3D;
    font-size: .8em; }
  .card__body {
    color: #9A918C;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: .4s ease-out;
    transition-property: max-height, padding;
    overflow: hidden; }
    .card__body--list {
      margin: 1.25rem 0;
      text-align: center;
      color: #473E3D; }
    .card--active .card__body {
      max-height: 15rem; }
    @media screen and (min-width: 37.5em) {
      .card__body {
        max-height: none;
        height: auto;
        flex-grow: 1; }
        .card--active .card__body {
          max-height: none; } }
  .card__footer {
    text-align: center;
    display: flex; }
  .card__price, .card__btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 1.25rem;
    border-top: 1px solid #D7D6D2; }
  .card__price {
    width: 40%;
    color: #1D7589; }
  .card__btn {
    width: 60%;
    text-transform: uppercase;
    letter-spacing: .2em;
    background: #fff;
    color: #9A918C;
    border-left: 1px solid #D7D6D2; }
    .card__btn--cta {
      background: #1D7589;
      color: #A0DBE3;
      border: 0;
      font-weight: 700; }
    .card__btn--cta {
      display: none; }
    @media screen and (min-width: 37.5em) {
      .card__btn--cta {
        display: block;
        background: #fff;
        color: #9A918C;
        border-top: 1px solid #D7D6D2;
        border-left: 1px solid #D7D6D2;
        font-weight: normal; }
      .card:hover .card__btn {
        background: #1D7589;
        color: #A0DBE3;
        border: 0;
        font-weight: 700; }
      .card__btn--ancillary {
        display: none;
        visibility: hidden; } }

#cta {
  background: #fff; }
  #cta .heading,
  #cta .subheading {
    width: 80%;
    text-align: left;
    max-width: 32rem;
    margin: 0 auto; }
  #cta .heading {
    color: #EE4324; }
  #cta .subheading {
    color: #8AA2A4; }

#footer {
  background: url(../assets/img/brick.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  color: #C4D4D4;
  overflow: hidden;
  width: 100%; }

.footer__address {
  margin-top: 1.5625rem;
  font-style: normal; }
  @media screen and (min-width: 56.25em) {
    .footer__address {
      display: none; } }

.footer__link {
  color: #fff;
  margin-top: 1.5625rem; }
  .footer__link + .footer__link {
    margin-left: 1.5625rem; }

.footer__text--left, .footer__text--right {
  position: absolute;
  bottom: 1em;
  font-size: .75em; }

.footer__text--left {
  left: 1.5em; }

.footer__text--right {
  right: 1.5em; }

.footer__container {
  padding: 3.125rem 0;
  position: relative; }

.footer__map {
  display: none; }

@media screen and (min-width: 56.25em) {
  .footer__container {
    float: left;
    width: 60%; }
  .footer__map {
    display: block;
    float: left;
    width: 40%;
    height: 22rem;
    background: url(../assets/img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; } }

#creditsTrigger {
  cursor: pointer; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }
  .map__container {
    width: 100%;
    position: relative;
    padding-bottom: 40%; }

.form {
  width: 70%;
  max-width: 28rem;
  margin: 0 auto; }
  .form__heading {
    font-size: 1.25rem; }
  .form__input, .form__btn {
    width: 100%;
    text-align: center;
    margin-top: .5em; }
  .form__input {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #979797;
    border-radius: .1em;
    margin-top: 1em; }
  .form__btn {
    color: #223134;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); }

.credits {
  width: 90%;
  max-width: 30rem;
  max-height: 95vh;
  background-color: #fff;
  padding: 1.5625rem;
  margin: auto;
  margin-top: 1.5625rem;
  border-radius: .1em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  overflow: auto;
  cursor: default; }
  .credits__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    cursor: pointer; }
  .credits__overlay--is-hidden {
    pointer-events: none;
    opacity: 0; }
  .credits__instruction {
    margin: 1.5625rem 0;
    color: white; }
  .credits__heading {
    color: #EE4324;
    font-size: 2em; }
  .credits__subheading {
    color: #8AA2A4;
    font-size: 1em;
    margin-top: 1.5625rem; }

/* 
Trumps & Hacks 
*/
.u-nowrap {
  white-space: nowrap; }

.u-hidden {
  display: none; }
  @media screen and (min-width: 37.5em) {
    .u-hidden--tablet {
      display: none; } }
  @media screen and (min-width: 56.25em) {
    .u-hidden--laptop {
      display: none; } }
  @media screen and (min-width: 75em) {
    .u-hidden--desktop {
      display: none; } }
  @media screen and (min-width: 93.75em) {
    .u-hidden--desktop2 {
      display: none; } }

/*# sourceMappingURL=main.css.map */