<footer id="footer" role="content-info">
	<div class="footer__container">
		{% include newsletter-form.html %}
		<address class="footer__address">
			1 South Orange Ave., Fifth Floor<br>
			Orlando, FL 32801
		</address>
		<ul class="list--horizontal">
			<!-- FOOTER LINK LIST
				<li class="footer__link">
					<a href="#">FAQ</a>
				</li>
				<li class="footer__link">
					<a href="#">Events</a>
				</li>
				<li class="footer__link">
					<a href="#">News</a>
				</li>
			-->
			<li class="footer__link">
				<a href="mailto:info@catalystspaces.com"><strong>Email Us!</strong></a>
			</li>
		</ul>
		<ul class="list--horizontal">
			<li class="list__icon">
				<a href="https://www.facebook.com/catalystspaces"><i class="fa fa-facebook-official"></i></a>
			</li>
			<li class="list__icon">
				<a href="https://twitter.com/catalystspaces"><i class="fa fa-twitter"></i></a>
			</li>
			<li class="list__icon">
				<a href="https://www.instagram.com/catalyst_spaces"><i class="fa fa-instagram"></i></a>
			</li>
		</ul>
		<span class="footer__text--left" id="copyright">&copy; Catalyst Spaces 2016</span>
		<span class="footer__text--right" id="creditsTrigger">Website Credits</span>
	</div>
	<div class="footer__map">
		<div class="map__container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.710626594755!2d-81.3787673!3d28.5418941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6de2a9b643e9971!2sCatalyst!5e0!3m2!1sen!2sus!4v1457394655499" frameborder="0" class="map" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</footer>
<aside class="credits__overlay credits__overlay--is-hidden">
	<div class="credits">
		<h3 class="credits__heading">Credits</h3>
		<h4 class="credits__subheading">Website Design & Development</h4>
		<span class="credits__name">Trim Media</span>
		<h4 class="credits__subheading">Content</h4>
		<span class="credits__name">Shakirra Meghjee</span>
		<h4 class="credits__subheading">Photos</h4>
		<span class="credits__name">John French</span>
		<h4 class="credits__subheading">Icons</h4>
		<ul class="credits__list">
			<li class="credits__name">John French</li>
			<li class="credits__name">John French</li>
			<li class="credits__name">John French</li>
		</ul>
	</div>
	<span class="credits__instruction">Click anywhere to exit.</span>
</aside>