<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	
	{% include metadata.html %}
	{% include favicons.html %}

	<link rel="stylesheet" href="{{ "/css/flickity.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<script src="{{ "/js/site.js" | prepend: site.baseurl }}" async defer></script>
	<script src="{{ "/js/flickity.pkgd.min.js" | prepend: site.baseurl }}" async defer></script>
</head>
