<meta name="description" content="{{ site.description }}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:image" content="{{ site.link }}{{ site.image }}">
<!-- Open Graph data -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.link }}">
<meta property="og:image" content="{{ site.link }}{{ site.image }}">
<meta property="og:description" content="{{ site.description }}"> 
<meta property="og:site_name" content="{{ site.title }}">