/* 
Base 
*/

html{
	font-family: $font;
	text-align: center;
	font-weight: 500
}

body{
	margin-top: 0;
	background: $white;
}

main > section{
	padding: $spacing-unit 0;
}

h1{
	text-align: center;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.125em;
}

h4{
	font-size: 1.25em;
	line-height: 1.6em;
}

ul{
	list-style-type: none;
}

p{
	font-size: 1rem;
	line-height: 1.5em;
}

p > ul{
	list-style-type: circle;
}

a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

input,
textarea,
select,
option,
button,
input[type="submit"],
.button{
	border: none;
}

input,
textarea{
	width: 100%;
	max-width: 100%;
	padding: .5em 1em;
	outline: none;
	border: 2px solid white;
}

input[type="radio"],
input[type="checkbox"]{
	width: auto;
}

button,
input[type="submit"],
.button{
	font-family: $font;
	padding: .5em 1em;

	&:disabled{
		opacity: .5;
		cursor: default;
	}
}
