/* 
Components
*/
.video {
	display: none;

	&__container {
		display: none;
	}

	@include media-query($laptop){
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@media(min-aspect-ratio: 1920/800) {
			height: 300%; 
			top: -100%;
		}
		@media(max-aspect-ratio: 1920/800) {
			width: 300%; 
			left: -100%;
		}

		&__container {
			display: block;
			z-index: -10;
			position: fixed;
			top: 0; 
			right: 0; 
			bottom: 0; 
			left: 0;
			overflow: hidden;
		}
	}
}

.banner{
	padding: $spacing-unit 0;
	position: relative;
	background: url(../assets/img/banner-mobile.jpg) center;
	background-size: cover;
	color: $wood1;
	overflow: hidden;

	@include media-query($laptop){
		background-image: none;
		background-color: transparentize($gray5,.3);
	}
	
	> *{
		z-index: 1;
	}
}

.btn{
	border-radius: .1em;
	padding: 1em;
	border: .15em solid $white;
	font-weight: 500;

	&--primary{
		display: block;
		width: 90%;
		max-width: 32rem;
		margin: 0 auto;
		margin-top: $spacing-unit;
		text-align: center;
		font-size: 1.25em;
		border: none;
		background: $aqua1;
		color: $aqua4;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: .2em;
		box-shadow: 0 0 15px rgba(0,0,0,.15);
		transition: .3s ease;
		transition-property: color, box-shadow, background-color, transform;

		&:hover{
			background: $brick1;
			color: $brick5;
			transform: scale(1.05);
			box-shadow: 0 8px 20px rgba(0,0,0,.15);
		}
	}

	&--secondary{
		margin-top: $spacing-unit/2;
		width: 75%;
		max-width: 32rem;
		border-color: $brick1;
	}

	&--login{
		position: absolute;
		top: -.2em;
		left: 50%;
		transform: translateX(-50%);
		opacity: .8;
		padding: .5em .75em;
		font-size: .75em;
		border-color: transparentize($white, .5);
		border-radius: .3em;

		@include media-query($tablet){
			left: auto;
			right: -.2em;
			transform: none;
		}
	}
}

.logo{
	margin-top: $spacing-unit/2;
	&__img{
		width: 90%;
		min-width: 16rem;
		max-width: 32rem;
	}

	@include media-query($tablet){
		margin-top: 0;
	}
}

.list{
	max-width: 25rem;

	&__item{
		margin-bottom: 2.5rem;
		display: flex;
		align-items: center;

		> .fa{
			color: $brick2;
			margin-right: 1rem;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&:last-child::after{
			display: none;
		}
	}

	&--featured{
		text-align: left;
		margin: 0 auto;
		margin-top: $spacing-unit;
		font-size: 1.1em;
		width: 78%;
	}

	&--horizontal{
		margin-top: $spacing-unit/2;

		> li{
			display: inline-block;
			margin-top: 0;
		}
	}

	&__icon{
		color: $white;
		font-size: 2rem;
		margin-right: 1.5em;

		&:last-child{
			margin-right: 0;
		}
	}
}

#amenities{
	background: #fff;
	& .heading{
		color: $brick3;
	}
	& .subheading{
		color: $gray2;
	}
}

.heading{
	text-align: center;
	font-size: 2rem;
	line-height: 1.2em;
	font-weight: bold;

	&--small{
		font-size: 1.25rem;
	}
}

.subheading{
	line-height: 1.5em;
	margin-top: .5em;
}

.amenity-list{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: $spacing-unit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.amenity{
	max-width: 95%;
	width: 30rem;
	height: 14rem;
	border-radius: .15em;
	color: $white;
	text-shadow: 0px 2px 4px rgba(0,0,0,.5);
	transition: .3s ease;
	transition-property: box-shadow, transform;
	background-position: center;
	background-size: cover;
	margin: .5rem;
	display: flex;
	overflow: hidden;

	@include media-query($tablet) {
    	transform: scale(.99);
    	width: 20rem;
    	max-width: 47%;
    	&:hover{ 
			transform: scale(1);
			box-shadow: 0px 2px 10px rgba(0,0,0,.4);

			& .amenity__overlay{
				background: transparentize($aqua4, .2);
			}

			& .amenity__info{
				max-height: 250px;
				opacity: 1;
			}
		}
	}

	@include media-query($desktop) {
    	max-width: 31%;
	}

	&__title{
		z-index: 1;
		line-height: 1.2em;
	}

	&__info{
		text-align: left;
		max-height: 0;
		overflow: hidden;
		z-index: 1;
		transition: .5s ease;
		transition-property: max-height, opacity;
		opacity: 0;
		margin-top: .5em;
	}

	&__overlay{
		background: transparentize($aqua4, .5);
		transition: background .3s ease;
		padding: .5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&--small{
		height: auto;
		font-size: .9rem;
		padding: .5em;
		background: transparentize($aqua4, .2);
		cursor: default;
		text-shadow: none;
		justify-content: center;
		&:hover{
			transform: scale(.99);
    		box-shadow: none;
		}
	}

	&--expanded{ 
		transform: scale(1);
		box-shadow: 0px 2px 10px rgba(0,0,0,.4);

		& .amenity__overlay{
			background: transparentize($aqua4, .2);
		}

		& .amenity__info{
			max-height: 250px;
			opacity: 1;
		}
	}
}

#realtalk{
	background: $brick3;
	color: $white;
	text-align: center;
}

.quote-list{
	position: relative;
	margin-bottom: $spacing-unit/2;
}

.quote-nav{
	position: absolute;
	top: 2.5em;
	width: 100%;

	&__left{
		position: absolute;
		left: 6%;
	}

	&__right{
		position: absolute;
		right: 6%;
	}
}

.quote{
	width: 100%;
	max-width: 22rem;
	margin: 0 auto;
	opacity: .2;
	transform: scale(.9);
	transition: .8s ease;
	transition-property: opacity, transform;

	&__byline{
		font-weight: normal;
		line-height: 1.5em;
		margin-top: 1em;

		&--company{
			display: block;
			opacity: .6;
			font-size: .75em;
    		line-height: 1.5em;
		}
	}

	&__quote{
		line-height: 1.5em;
		width: 80%;
		margin: 0 auto;
		padding: $spacing-unit/2 0;
		background: url(../assets/img/quotes.svg) center no-repeat;
		background-size: contain;
	}

	&.is-selected{
		opacity: 1;
		transform: scale(1);
	}
}

.flickity-page-dots {
	bottom:  -2.5rem;
	& .dot{
		background: #fff;
	}
}

.flickity-prev-next-button {
	width: 50px;
	height: 100%;
	background-color: none;
	&.previous {
		background: url(../assets/img/arrow-left.svg) no-repeat center center;
	}
	&.next {
		background: url(../assets/img/arrow-right.svg) no-repeat center center;
	}
	& .arrow,
	&.no-svg {
		display: none;
	}
}

.avatar{
	position: relative;
	max-width: 7em;
	margin: 0 auto;
	margin-top: $spacing-unit/2;

	&__person,
	&__company{
		border: .25em solid $brick1;
		border-radius: 100%;
		overflow: hidden;
	}

	&__person{
		width: 100%;
	}

	&__company{
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 75%;
	}
}

#memberships{
	background: $wood1;
	& .heading{
		color: $wood5
	}
	& .subheading{
		color: $wood3;
	}
}

.card-list{
	width: 90%;
	max-width: 48rem;
	margin: 0 auto;
	margin-top: $spacing-unit;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.card{
	width: 95%;
	max-width: 20rem;
	margin: 0 auto 1rem;
	border-radius: .15em;
	background: $white;
	text-align: left;
	transition: .3s ease;
	transition-property: box-shadow, transform;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	@include media-query($tablet){
		width: auto;
		margin: .5rem;
		transform: scale(.99);

		&:hover{
			transform: scale(1);
			box-shadow: 0px 2px 20px rgba(0,0,0,.15);
		}

		&__header{
			text-align: center;
			font-size: 1.1em;
		}
	}

	&--active{
		box-shadow: 0px 2px 20px rgba(0,0,0,.15);
	}

	&__header,
	&__body{
		padding: 1.25rem;
	}

	&__header{
		position: relative;
	}

	&__icon{
		max-width: 2.5rem;
		max-height: 1.5rem;
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;

		@include media-query($tablet){
			position: static;
			max-width: 5rem;
			max-height: 3rem;
			margin-bottom: .5em;
		}
	}

	&__title{
		color: $brick3;
		font-size: 1.25em;
		font-weight: 800;
	}

	&__subtitle{
		color: $wood5;
		font-size: .8em;
	}

	&__body{
		color: $wood3;
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		transition: .4s ease-out;
		transition-property: max-height, padding;
		overflow: hidden;

		&--list{
			margin: 1.25rem 0;
			text-align: center;
			color: $wood5;
		}

		.card--active &{
			max-height: 15rem;
		}

		@include media-query($tablet){
			max-height: none;
			height: auto;
			flex-grow: 1;

			.card--active &{
				max-height: none;
			}
		}
	}

	&__footer{
		text-align: center;
		display: flex;
	}

	&__price,
	&__btn{
		display: inline-block;
		box-sizing: border-box;
		margin: 0;
		padding: 1.25rem;
		border-top: 1px solid $wood1;
	}

	&__price{
		width: 40%;
		color: $aqua4;
	}

	&__btn{
		width: 60%;
		text-transform: uppercase;
		letter-spacing: .2em;
		background: $white;
		color: $wood3;
		border-left: 1px solid $wood1;

		&--cta{
			background: $aqua4;
			color: $aqua1;
			border: 0;
			font-weight: 700;
		}

		&--cta{
			display: none;
		}

		@include media-query($tablet){
			&--cta{
				display: block;
				background: $white;
				color: $wood3;
				border-top: 1px solid $wood1;
				border-left: 1px solid $wood1;
				font-weight: normal;
			}
			.card:hover &{
				background: $aqua4;
				color: $aqua1;
				border: 0;
				font-weight: 700;
			}
			&--ancillary{
				display: none;
				visibility: hidden;
			}
		}
	}
}

#cta{
	background: #fff;
	& .heading,
	& .subheading{
		width: 80%;
		text-align: left;
		max-width: 32rem;
		margin: 0 auto;
	}
	
	& .heading{
		color: $brick3;
	}
	& .subheading{
		color: $gray2;
	}
}

#footer{
	background: url(../assets/img/brick.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	color: $gray1;
	overflow: hidden;
	max-width: 75rem;
	margin: 0 auto;
}

.footer{
	&__address{
		margin-top: $spacing-unit/2;
		font-style: normal;
		@include media-query($laptop){
			display: none;
		}
	}

	&__link{
		color: $white;
		margin-top: $spacing-unit/2;

		& + .footer__link{
			margin-left: $spacing-unit/2;
		}
	}

	&__text{
		&--left,
		&--right{
			position: absolute;
			bottom: 1em;
			font-size: .75em;
		}

		&--left{
			left: 1.5em;
		}

		&--right{
			right: 1.5em;
		}
	}

	&__container{
		padding: $spacing-unit 0;
		position: relative;
	}

	&__map{
		display: none;
	}

	@include media-query($laptop){
		&__container{
			float: left;
			width: 60%;
		}
		&__map{
			display: flex;
			float: left;
			width: 40%;
			position: relative;
	        overflow: hidden;

	        float: left;
			width: 40%;
			max-height: 100%;
			height: 21rem;
		}
	}
}

#creditsTrigger{
	cursor: pointer;
}

.map{
	position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

    &__container{
    	width: 100%;
		position: relative;
    	padding-bottom: 40%; // This is the aspect ratio
    }
}

.form{
	width: 70%;
	max-width: 28rem;
	margin: 0 auto;

	&__heading{
		font-size: 1.25rem;
	}

	&__input,
	&__btn{
		width: 100%;
		text-align: center;
		margin-top: .5em;
	}

	&__input{
		color: $white;
		background: rgba(255,255,255,.1);
		border: 1px solid #979797;
		border-radius: .1em;
		margin-top: 1em;
	}

	&__btn{
		color: $gray5;
		background: rgba(255,255,255,.5);
		box-shadow: 0px 2px 10px rgba(0,0,0,.2);
	}
}

.credits{
	width: 90%;
	max-width: 30rem;
	max-height: 95vh;
	background-color: #fff;
	padding: $spacing-unit/2;
	margin: auto;
	margin-top: $spacing-unit/2;
	border-radius: .1em;
	box-shadow: 0 0 15px rgba(0,0,0,.15);
	overflow: auto;
	cursor: default;

	&__overlay{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.75);
		display: flex;
		flex-direction: column;
		transition: opacity .3s ease-in-out;
		opacity: 1;
		cursor: pointer;
	}

	&__overlay--is-hidden{
		pointer-events: none;
		opacity: 0;
	}

	&__instruction{
		margin: $spacing-unit/2 0;
		color: white;
	}

	&__heading{
		color: $brick3;
		font-size: 2em;
	}

	&__subheading{
		color: $gray2;
		font-size: 1em;
		margin-top: $spacing-unit/2;
	}
}



